body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #aaf8b0;
    color: #000000;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #aaf8b0;
    color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
}